<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title>Pagina principal</title>
    <link rel="stylesheet" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  </head>
  <body>
    <div class="wrapper">
      <input type="checkbox" id="btn" hidden>
      <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </label>
      <nav id="sidebar">
        <div class="title">Skynet | Menú</div>
        <ul class="list-items">
          <li><a type="nav-link" routerLink="/login" *ngIf="enabled1"><i class="fas fa-user"></i>Acceso</a></li>
          <li><a routerLink="/registrar" *ngIf="enabled1"><i class="fas fa-sliders-h"></i>Registrar</a></li>
          <li><a routerLink="/ver-clientes" *ngIf="enabled"><i class="fas fa-address-book"></i>Clientes</a></li>
          <li><a routerLink="/ver-soportes"href="#" *ngIf="enabled"><i class="fas fa-stream"></i>Soportes</a></li>
          <li><a routerLink="/ver-visitas" href="#"*ngIf="enabled"><i class="fas fa-globe-asia"></i>Visitas</a></li>
          <li><a href="#" *ngIf="enabled"><i class="fas fa-cog"></i>Reportes</a></li>

        </ul>
      </nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
      <div class="header" >SKYNET S.A</div>
      <p>BY Michael Soto</p>
    </div>
  </body>
</html>
